.discord {
    background-image:url('/images/discord.png');
    width:24px;
    background-repeat:no-repeat;
    letter-spacing:8px;
}
.software {
    border:8px solid transparent;
    border-image:url('/images/dither.png') 8 repeat;
    width:512px;
}
.dingbat {
    margin-left:8px;
    margin-right:8px;
    margin-top:16px;
}
.mark {
    position:absolute;
    top:16px;
    right:32px;
}