/* load fonts */
@font-face {
    font-family: onesize;
    font-weight: normal;
    src: url(/fonts/ONESIZE_.TTF);
}
@font-face {
    font-family: onesizeoutline;
    src: url(/fonts/ONESR___.TTF);
}
@font-face {
    font-family: pressstart2p;
    font-weight: normal;
    src: url(/fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: pixel7;
    font-weight: bold;
    src: url(/fonts/light_pixel-7.ttf);
}
@font-face {
    font-family: pixeldingbat;
    src: url(/fonts/pixel_dingbats-7.ttf);
}
@font-face {
    font-family: pinball;
    src: url(/fonts/PKMN-Pinball.ttf);
}


/* styles */
body {
    font-family: pressstart2p;
    font-size: 16px;
    background: black;
    color: white;
    margin-left:76px;
    margin-right:76px;
    margin-top:48px;
}
.image {
    display:inline-block;
    user-select:all;
    width:16px;
    height:16px;
    background-color:black;
}
::selection {
    color:black;
    background-color:white;
}
div.paragraph {
    margin-top:16px;
    margin-bottom:16px;
}
div,h1,p {
    color:white;
    background-color: black;
}

html {
    border-left:6px double white;
    border-right:6px double white;
    border-top:6px double white;
    border-bottom:6px double white;
    margin-left:16px;
    margin-right:16px;
    height:calc(100vh - 12px);
}
body::before {
    content:'';
    position:fixed;
    display:inline-block;
    left:0vw;
    top:0vh;
    width:14px;
    height:100vh;
    background:white;
}
body::after {
    content:'';
    position:fixed;
    display:inline-block;
    right:0vw;
    top:0vh;
    width:14px;
    height:100vh;
    background:white;
}

h1 {
    font-family: pixel7;
    font-size: 40px;
    margin-top: 6px;
    margin-bottom: -12px;
    padding-left: 8px;
    line-height: 64px;
}
h2 {
    font-family: pinball;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: -0.8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
div.dither {
    display:block;
    background: url("/images/dither.png");
    height:8px;
    width:256px;
}
.dingbat {
    display:inline;
    font-family:pixeldingbat;
}

a {
    color: white;
    font-family: onesizeoutline;
    font-size: 24px;
    text-decoration: none;
    vertical-align: 2px;
}
a:active {
    color: white;
    font-family: onesize;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a::before {
    content:'';
    color: white;
    font-family: onesize;
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: 4px;
}

u {
    text-decoration-color: white;
}
