body {
    font-family: 'EB Garamond', serif;
    margin-top: 4em;
    margin-bottom: 4em;
    max-width: 75vw;
    margin-inline: auto;
    background-color: white;
    color: black;
    overflow-y: scroll;
}

h1 {
    margin: 0px;
    line-height: 1.0;
    font-size: 32pt;
    font-weight: 600;
    border-bottom: 3px dashed black;
    margin-bottom: 2pt;
}

h2 {
    margin: 0px;
    margin-top: 1em;
    line-height: 1.0;
    font-size: 20pt;
    position: relative;
    z-index: 1;
}

b { font-weight: 600; }
b-heavy { font-weight: 800; }

align-left   { display: block; text-align: left; }
align-center { display: block; text-align: center; }
align-right  { display: block; text-align: right; }

div[indent] { padding-left: 2em; }

katex-area { display: inline-block; cursor: default; user-select: revert; }
.katex-display { margin: 0px; }
katex-area > .katex-display.fleqn > .katex { padding-left: 0px; }
katex-area[indent] > .katex-display.fleqn > .katex { padding-left: 2em; }

summary {
    cursor: pointer;
    padding: 4px;
    user-select: none;
    height: 32px;
    width: max-content;
    line-height: 16px;
}
summary * { cursor: pointer; }
details[open] > summary { border-bottom: 1px dotted black; }
summary:hover { transform: translate( 1px, -1px ); box-shadow: -1px 1px 8px #EEEEEE; }

.summary-caption { display: inline-block; width: 8em; height: 16px; }
summary kakex-area { height: 16px; color: red; }

details > summary::marker, details > summary::-webkit-details-marker { height:32px; }

.definition, .definition-alt { padding: 8pt; border: 2pt dashed black; }
.definition-header::before, .definition-alt-header::before {
    text-shadow: -3px 0px white, -2px 0px white, -1px 0px white, 1px 0px white, 2px 0px white, 3px 0px white,
        -3px -1px white, -2px -1px white, -1px -1px white, 1px -1px white, 2px -1px white, 3px -1px white;
    content: "Definition";
    position: absolute;
    z-index: -1;
    color: white;
    font-style: italic;
}
.definition-alt { border-width: 1pt; }
.definition-alt-header { font-size: 14pt; }
.definition-alt-header::before { content: "Alt Definition"; }

.bottom-padding { margin-bottom: 8pt; }
.footnote { border: 1px solid black; padding: 4px; display: block; width: max-content;  }