body {
    margin: 0px;
    max-width: initial;
}

details > summary {
    list-style: none;
    padding: 0px;
    padding-bottom: 2px;
    min-width: fit-content;
}
details > summary::marker, details > summary::-webkit-details-marker { display: none; }
details, print-group { break-inside: avoid; }